# flyctl launch added from .gitignore
# --- Python ---
# Bytecode compilado (gerado automaticamente ao rodar o script)
**/__pycache__
**/*.py[cod]
**/*$py.class

# --- Ambientes Virtuais ---
# não subir a pasta do seu ambiente virtual
**/venv
**/env
**/.venv
**/.env

# --- Variáveis de Ambiente e Segredos ---
**/.env

# --- VS Code ---
**/.vscode

# --- Sistema Operacional ---
# Arquivos de sistema (Mac/Windows)
**/.DS_Store
**/Thumbs.db

# flyctl launch added from envf/.gitignore
# created by virtualenv automatically
envf/**/*
fly.toml
